[bumpversion]
current_version = 0.3.0
commit = True
tag = True
allow_dirty = False

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:src/word_prediction/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:tests/test_version.py]
search = assert word_prediction.__version__ == "{current_version}"
replace = assert word_prediction.__version__ == "{new_version}"
